:root {
   --border-color: #dbdbdb;
   --blueBtn-color: #0f9bf6;
   --validation-color: #ff3041;
}

html {
   font-size: 10px;
   scroll-behavior: smooth;
}

* {
   padding: 0;
   margin: 0;
   font-family: "Segoe UI" !important;
   font-size: 1.6rem;
   box-sizing: border-box !important;
}
